.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 12rem;
    height: 4rem;
}

.headermenu{
    list-style: none;
    display: flex;
    gap: 2rem;   /*margin-right: 2rem; */
    color: white;
    font-size: 15px;
}

.headermenu>li{
    cursor: pointer;
}
.headermenu>li:hover{
    color: orange;
}
@media screen and (max-width: 768px){
    .logo{

        width: 10rem;
        height: 3rem;
    }
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .headermenu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}